.movie-card {
  text-align: center;
  width: 300px;
}

.movie-card h2 {
  padding: 10px 50px;
  font-size: 14px;
  text-transform: capitalize;
  width: fit-content;
  margin: auto;
  display: block;
  min-height: 65px;
  display: flex;
  align-items: center;
}

.movie-card h2:hover {
  font-size: 15px;
  color: rgba(80, 48, 80, 0.795);
  text-shadow: rgb(173, 146, 36) 1px 0 10px;
}

img {
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
}

img:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
}
.favorite-icon {
  color: rgb(97, 96, 96);
  background: none;
  border: none;
  cursor: pointer;
}

.favorite-icon:hover {
  color: rgb(231, 170, 170);
}
.favorite-icon-active {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
