.movie-card {
  text-align: center;
  width: 300px;
}

.movie-card h2 {
  padding: 10px;
  text-transform: capitalize;
}

img {
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
}

.favorite-icon {
  color: rgb(97, 96, 96);
  background: none;
  border: none;
  cursor: pointer;
}

.favorite-icon:hover {
  color: rgb(231, 170, 170);
}
.favorite-icon-active {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
