.movie-detail-container {
  display: flex;
  margin-top: 50px;
  padding: 30px;
}

.main-info h2 {
  padding: 10px;
}
.main-info img {
  width: 300px;
}
.movie-detail-container div {
  padding: 1em;
}
.secondary-info {
  max-width: 50%;
  padding: 100px 30px;
}
.secondary-info p {
  padding: 0.5em;
}
