.login-register-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 40px;
  border-radius: 20px;
  display: flex;
  gap: 20%;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
