.logout-button {
  /* padding: 1em; */
  color: rgb(83, 80, 80);
  background: none;
  border: none;
  cursor: pointer;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
