.navbar-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 20px;
}

.logo-wrapper {
  font-size: 20px;
  color: rgb(83, 80, 80);
}

.navbar-container a {
  padding: 0.5em;
  color: rgb(83, 80, 80);
}

.menu-wrapper a:hover {
  font-weight: bold;
  /* color: rgba(80, 48, 80, 0.795); */
  text-shadow: #fc0 1px 0 10px;
}

.app-title {
  font-size: 16px;
  padding: 10px;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.userName-wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 600px) {
  .navbar-container a {
    padding: 1em;
    color: rgb(83, 80, 80);
  }
  .navbar-container {
    max-width: 85%;
    margin: auto;
  }
  .menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
