.register-container {
  padding: 1em;
  max-width: 300px;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(240, 239, 239, 0.897);
  box-shadow: 0 11px 17px 5px rgba(128, 121, 121, 0.33);
  margin-bottom: 20px;
}

.register-container h2 {
  padding: 10px;
}
.register label {
  font-size: 14px;
}

.register {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.register-container div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.register-container input {
  background: none;
  border: none;
  margin: 5px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.register-container button {
  background: none;
  border: solid 1px grey;
  padding: 10px;
  border-radius: 50px;
  width: 100px;
  background-color: gray;
  color: #ffff;
}
.register-container button:hover {
  background: none;
  border: solid 1px lightseagreen;
  background-color: lightseagreen;
  color: #ffff;
}
.go-to-login-button {
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.go-to-login-button p {
  padding: 10px;
}
.go-to-login-button button {
  margin: 5px;
}
